<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="table">
  <link
    name="table">
    <inertial>
      <origin
        xyz="0 1.15336502034698E-16 -0.015409"
        rpy="0 0 0" />
      <mass
        value="25.15" />
      <inertia
        ixx="2.1966"
        ixy="2.8223E-17"
        ixz="1.3553E-17"
        iyy="2.1966"
        iyz="1.08936600439563E-16"
        izz="4.3762" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://table/meshes/table.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
        <texture
          filename="package://table/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://table/meshes/table.STL" />
      </geometry>
    </collision>
  </link>
</robot>
